extends layout

block content 
    h1= `Author: ${author.name}`
    p= author.lifespan 

    h4 Books 
    dl 
        each book in books 
            dt 
                a(href=book.url) #{book.title} 
            dd 
                p= book.summary 
        else 
            p Cannot find any book of the author in the library.
    hr
    p
        a(href=author.url+'/delete') Delete Author
    p 
        a(href=author.url+'/update') Update Author