extends layout 

block content 
    h1= `Title: ${book.title}` 
    p #[strong Author:] 
        a(href=book.author.url) #{book.author.name} 
    p #[strong Summary:] #{book.summary} 
    p #[strong ISBN:] #{book.isbn} 
    p #[strong Genre:] 
        each genre, index in book.genre
            a(href=genre.url) #{genre.name}
            if index < book.genre.length - 1
                |, 
    
    h4 Copies
    each instance in book_instances
        hr  
        if instance.status == 'Available'
            p.text-success #{instance.status} 
        else if instance.status == 'Maintenance'
            p.text-danger #{instance.status} 
        else 
            p.text-warning #{instance.status} 
        
        p #[strong Imprint:] #{instance.imprint}
        p #[strong Id:] 
            a(href=instance.url) #{instance.id}
    else 
        p There are no copies of this book in the library.

    hr
    p
        a(href=book.url+'/delete') Delete Book
    p 
        a(href=book.url+'/update') Update Book